extends base

block content
    h1= title
    br
    p Welcome to #{title}!
    p Clone this repo and build yourself something wonderful

block scripts
    script(type="text/javascript", src="/scripts/example.js")

